.form {
  display: flex;
  border-top: 1px solid #a0a0a0;
  -webkit-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25);
}
.input {
  border: none;
  border-radius: 4px;
  padding: 1.2rem 1rem;
  width: 80%;
  font-size: 1.1rem;
  z-index: 1;
}
input:focus, textarea:focus, select:focus{
  outline: none;
}
.sendButton {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #7003ff;
  padding: 20px;
  display: inline-block;
  border: none;
  border-radius: 0 0 4px 0;
  width: 20%;
  z-index: 1;
}
.fa-chevron-right:hover{
  transition: 0.5s;
  transform: rotate(360deg);
}
.popup-name{
  display: block;
  width: 50%;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 3px #a969ff;
  margin-left: 0.5rem;
  border-radius: 5px;
  bottom: 6rem;
  width: auto;
}
.popup-name .groups{
  margin: 0.3rem;
  padding: 0.5rem 2rem;
  background: #fff;
}
.popup-name .groups:hover{
  transition: 0.1s;
  box-shadow: 0 0 3px #777;
  background: #fff;
}
.popup-msg{
  position: absolute;
  width: 47.5vw;
  max-height: 6rem;
  margin: 0 0.5vw;
  border-radius: 4px;
  bottom: 6.4rem;
  padding: 0.1rem 0.3rem 0.5rem;
  background-color: #a969ff;
}
.nameIndc{
  font-size: 0.6rem;
  letter-spacing: 1px;
  font-family: 'Exo', sans-serif;
  margin: 0;
}
.cross-icon{
  text-align: right;
  padding: 0;
  cursor: pointer;
}
.msgTo-reply{
  border-radius: 3px;
  background-color: #f0f0f0;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 1000px){
  .popup-msg{
    width: 55.5vw;
    bottom: 6.3rem;
  }
}
@media (max-width: 676px){
  .popup-msg{
    width: 63.5vw;
    bottom: 4.7rem;
  }
  .sendButton span{
    display: none;
  }
  .input {
    padding: 1rem;
    font-size: 0.9rem;
  }
  .sendButton {
    padding: 1rem;
  }
  .popup-name{
    margin-left: 0.5rem;
    border-radius: 5px;
    bottom: 4.5rem;
    font-size: 0.8rem;
  }
  .popup-name .groups{
    margin: 0.3rem;
    padding: 0.4rem 1.7rem;
  }
}
@media (max-width: 449px){
  .popup-msg{
    width: 79vw;
    bottom: 3.7rem;
  }
  .popup-name{
    margin-left: 0.5rem;
    border-radius: 5px;
    bottom: 3.5rem;
  }
  .popup-name .groups{
    margin: 0.2rem;
    padding: 0.3rem 1rem;
  }
}
