.pagebody {
  color:#eee;
  width:100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-image: url(https://images.pexels.com/photos/1339861/pexels-photo-1339861.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  padding: 17% 32%;
}
.not-found-box{
  padding: 1rem 2rem 1.5rem;
  border-radius: 1.2rem;
  background-color: rgba(200, 20, 20, 1);
  box-shadow: 0 0 0.8rem #550000;
}
.not-found {
  font-size: 2.2rem;
  color: #d0d0d0;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px 4px #000;
}
.not-found-box p{
  font-size: 1.5rem;
  color: #202020;
}
.return-button{
  text-align: center;
  margin-top: 2.5rem;
}
.return-button button{
  transition: 0.2s;
  border: 0;
  border-radius: 1rem;
  background-color: #e0e0e0;
  color: #303030;
  padding: 0.3rem 1.5rem;
  font-size: 1rem;
  font-family: 'Prompt', sans-serif;
  box-shadow: 0 0 0.5rem #303030;
}
.return-button button:hover{
  transition: 0.2s;
  border-radius: 0.3rem;
  letter-spacing: 0.5px;
  background-color: #1fe5ff;
}
@media (max-width: 1000px) {
  .pagebody {
    padding: 17% 25%;
  }
  .not-found {
    font-size: 2rem;
  }
  .not-found-box p{
    font-size: 1.2rem;
  }
  .return-button{
    margin-top: 2.3rem;
  }
}
@media (max-width: 676px) {
  .pagebody {
    padding: 30% 15%;
  }
  .not-found-box{
    padding: 0.9rem 1.8rem 1.2rem;
  }
  .not-found {
    font-size: 1.8rem;
  }
  .not-found-box p{
    font-size: 1rem;
  }
  .return-button{
    margin-top: 2.1rem;
  }
  .return-button button{
    padding: 0.3rem 1.5rem;
    font-size: 1rem;
  }
}
@media (max-width: 450px) {
  .pagebody {
    padding: 30% 10%;
  }
  .not-found-box{
    padding: 0.8rem 1.6rem 1rem;
  }
  .not-found {
    font-size: 1.6rem;
  }
  .return-button{
    margin-top: 2rem;
  }
  .return-button button{
    font-size: 0.9rem;
  }
}
