.main-div {
  overflow: hidden;
}
.topbar{
  background: #202020;
  padding: 1rem 2rem;
  color: white;
}
.create-room{
  transition: 0.3s;
  padding: 0.4rem 1.2rem;
  margin: 0.3rem;
  border: none;
  border-radius: 3px;
}
.create-room:hover{
  transition: 0.3s;
  border-radius: 20px;
  box-shadow: 0 0 10px #2bb5e0;
}
.groups {
  border-radius: 10px;
  background-color: #e0e0e0;
  margin: 1.5rem 15%;
  padding: 0.5rem 2rem;
  display: block;
}
.groups:hover{
  box-shadow: 0 0 6px #2bb5e0;
}
.linkR-div, .linkR-div:hover, .linkR-div:focus, .linkR-div:active{
  text-decoration: none;
  color: inherit;
}
.link-div:hover{
  color: #086b8a;
}
.room-name{
  font-family: 'Play', sans-serif;
  font-size: 1.5rem;
}
.language-name{
  padding: 0.5rem 0 0;
  font-family: 'Bitter', serif;
}
