.main-div {
  overflow: hidden;
}
.noRooms-msg{
  display: block;
  margin: 3rem 5rem;
  text-align: center;
  font-family: 'Caveat Brush', cursive;
  font-size: 3rem;
  letter-spacing: 2px;
}
.create-room{
  transition: 0.3s;
  padding: 0.4rem 1.2rem;
  margin: 0.3rem;
  border: none;
  border-radius: 3px;
}
.create-room:hover{
  transition: 0.3s;
  border-radius: 20px;
  box-shadow: 0 0 10px #2bb5e0;
}
.groups {
  transition: 0.6s;
  border-radius: 10px;
  background-color: #e0e0e0;
  margin: 1.5rem 15%;
  padding: 0.5rem 2rem;
  display: block;
}
.groups:hover{
  transition: 0.2s;
  background-color: #d8d8d8;
  box-shadow: 0 0 6px #2bb5e0;
}
.linkR-div, .linkR-div:hover, .linkR-div:focus, .linkR-div:active{
  text-decoration: none;
  color: inherit;
}
.link-div:hover{
  color: #086b8a;
}
.room-name{
  font-family: 'Play', sans-serif;
  font-size: 1.5rem;
}
.language-name{
  padding: 0.5rem 1.5rem 0;
  font-family: 'Bitter', serif;
  text-align: right;
}
.time-div{
  text-align: right;
  padding: 0 1.5rem;
}
@media (max-width: 1000px){
  .groups {
    margin: 1.2rem 9%;
    padding: 0.4rem 1.5rem;
  }
  .genre-status, .members-no, .time-div{
    font-size: 0.9rem;
  }
}
@media (max-width: 650px){
  .groups {
    margin: 1rem 8%;
    padding: 0.4rem 1.2rem;
  }
  .room-name{
    font-size: 1.1rem;
  }
  .language-name{
    font-size: 0.8rem;
  }
  .genre-status, .members-no, .time-div{
    font-size: 0.8rem;
  }
}
@media (max-width: 575px){
  .groups {
    margin: 1rem 7%;
    padding: 0.4rem 1rem;
  }
  .room-name{
    font-size: 1rem;
    width: 50%
  }
  .language-name{
    padding: 0.3rem 0 0;
    width: 50%;
  }
  .genre-status, .members-no, .time-div{
    font-size: 0.7rem;
    padding-right: 0;
  }
}
