.messageBox {
  border-radius: 10px;
  padding: 0.3rem 0.5rem 0.4rem;
  margin-top: 0.6rem;
  color: white;
  box-shadow: 0 0 5px #c0c0c0;
  display: inline-block;
  max-width: 80%;
}
.messageText {
  width: 100%;
  margin: 0;
  letter-spacing: 0.1px;
  float: left;
  font-size: 0.9rem;
  word-wrap: break-word;
}
.messageText img {
  vertical-align: middle;
}
.messageContainer {
  display: flex;
  padding: 0 3%;
}
.yourName, .theirName {
  font-family: Helvetica;
  font-size: 0.6rem;
  letter-spacing: 0.5px;
  padding: 0;
  margin: 0;
}
.yourName{
  color: pink;
  text-shadow: 0 0 4px #000;
}
.theirName{
  color: violet;
  text-shadow: 0 0 4px #1fe5ff;
}
.justifyStart {
  justify-content: flex-start;
}
.justifyEnd {
  justify-content: flex-end;
}
.justifyCenter {
  justify-content: center;
}
.colorWhite {
  color: white;
}
.colorDark {
  color: #353535;
}
.backgroundBlue {
  background: #7003ff;
  text-align: right;
}
.backgroundLight{
  background: #F3F3F3;
}
.bot-text{
  border-radius: 1rem;
  padding: 0.2rem 0.8rem;
  margin: 0.3rem auto;
  display: inline-block;
  font-size: 0.65rem;
  color: #606060;
  box-shadow: 0 0 3px #b0b0b0;
  max-width: 80%;
  font-family: 'Exo', sans-serif;
}
.bot-text p{
  margin: 0;
}
.replied-to, .reply-from{
  background-color: #766d87;
  padding: 0;
  cursor: pointer;
}
.reply-from{
  text-align: left;
  border-radius: 3px;
}
.replied-to{
  text-align: right;
  border-radius: 3px;
}
.to-user{
  font-size: 0.6rem;
  margin: 0.2rem 0.4rem;
  border-radius: 3px 3px 0 0;
  letter-spacing: 0.3px;
  text-shadow: 0 0 6px #a0a0ff;
  color: #e0e0e0;
}
.to-msg{
  background-color: #e0e0e0;
  padding: 0.1rem 0.5rem;
  color: black;
  font-size: 0.7rem;
  border-radius: 0 0 3px 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.share {
  font-size: 0.7rem;
  margin: 1rem 0.5rem;
  padding: 0.25rem 0.3rem;
  border-radius: 1rem;
  background-color: #766d87;
  color: white;
  cursor: pointer;
  height: 1.4rem;
  width: 1.4rem;
}
.options {
  cursor: pointer;
  float: right;
  margin-left: 2rem;
}
.drop-down-options ul {
  list-style: none;
  z-index: 1;
  position: absolute;
}
.drop-down-options ul li{
  cursor: pointer;
  font-size: 0.6rem;
  color: #fff;
  background-color: #7003ff;
  padding: 1px 3px;
  margin: 0 0 0 1rem;
  border-radius: 4px;
  text-align: right;
  position: absolute;
  bottom: auto;
}

@media (max-width: 676px){
  .messageText {
    font-size: 0.8rem;
  }
  .yourName, .theirName {
    font-size: 0.45rem;
    letter-spacing: 0.2px;
  }
  .share {
    margin: 0.8rem 0.3rem 0.3rem;
  }
  .bot-text{
    padding: 0.15rem 0.6rem;
    margin: 0.2rem auto;
    font-size: 0.55rem;
    max-width: 75%;
  }
}
@media (max-width: 450px){
  .messageBox {
    border-radius: 8px;
    padding: 0.3rem 10px;
    margin-top: 0.5rem;
    max-width: 75%;
  }
  .messageText {
    font-size: 0.7rem;
  }
  .yourName, .theirName {
    font-size: 0.35rem;
    letter-spacing: 0;
  }
}
