.messageBox {
  border-radius: 10px;
  padding: 0.4rem 15px;
  margin-top: 0.6rem;
  color: white;
  box-shadow: 0 0 5px #c0c0c0;
  display: inline-block;
  max-width: 80%;
}
.messageText {
  width: 100%;
  margin: 0;
  letter-spacing: 0.1px;
  float: left;
  font-size: 0.9rem;
  word-wrap: break-word;
}
.messageText img {
  vertical-align: middle;
}
.messageContainer {
  display: flex;
  padding: 0 3%;
}
.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  font-size: 0.7rem;
  color: #828282;
  letter-spacing: 0.5px;
  padding: 11px 0;
  margin: 0;
}
.pl-10 {
  padding-left: 10px;
}
.pr-10 {
  padding-right: 10px;
}
.justifyStart {
  justify-content: flex-start;
}
.justifyEnd {
  justify-content: flex-end;
}
.justifyCenter {
  justify-content: center;
}
.colorWhite {
  color: white;
}
.colorDark {
  color: #353535;
}
.backgroundBlue {
  background: #7003ff;
}
.backgroundLight, .bot-text {
  background: #F3F3F3;
}
.bot-text{
  border-radius: 1rem;
  padding: 0.3rem 1rem;
  margin: 0.6rem auto 0.3rem;
  display: inline-block;
  box-shadow: 0 0 5px #505050;
  max-width: 80%;
  font-family: 'Exo', sans-serif;
}
.replied-to, .reply-from{
  background-color: #766d87;
  position: relative;
  top: 8px;
  padding: 0 0.3rem 0.2rem;
}
.reply-from{
  text-align: left;
  box-shadow: -2px -2px 4px #606060;
  border-radius: 8px 8px 8px 0;
}
.replied-to{
  text-align: right;
  box-shadow: 2px -2px 4px #8d70ff;
  border-radius: 8px 8px 0 8px;
}
.to-user{
  font-size: 0.6rem;
  margin: 0.2rem 0.2rem;
  border-radius: 0.5rem;
  letter-spacing: 0.3px;
  text-shadow: 0 0 6px #a0a0ff;
  color: #e0e0e0;
}
.to-msg{
  background-color: #e0e0e0;
  padding: 0.1rem 0.5rem;
  font-size: 0.7rem;
  border-radius: 5px;
}
@media (max-width: 676px){
  .messageText {
    font-size: 0.8rem;
  }
}
