.home-page{
    background-image: linear-gradient(#f7f7f7, #f7f7f7, #f7f7f7, #fff, #f7f7f7, #f7f7f7, #f7f7f7, #ffff38);
}
.searchBar {
    display: flex;
    background-image: linear-gradient(#1fe5ff, #9cf3ff, #f7f7f7);
    /*background-color: #1fe5ff;*/
    padding: 0.8rem 25% 2rem;
    width: inherit;
    text-align: right;
    margin: 0;
}
.searchBar .input-group .form-control{
    border-radius: 0 20px 20px 0;
}
.input-group-text{
    border-radius: 20px 0 0 20px;
    background-color: #101010;
    color: white;
    width: 4rem;
    padding-left: 1.5rem;
}

.suggestion {
    overflow: auto;
    background-color: #f0f0f0;
    color: white;
    width: inherit;
    border-radius: 20px;
    box-shadow: 0 0 4px #a0a0a0;
    position: absolute;
    top: 2.4rem;
    z-index: 1;
    max-height: 60vh;
}
.suggestion .groups{
    transition: 0.2s;
    border-radius: 12px;
    background-color: #202020;
    margin: 1.5rem;
    padding: 0.5rem 2rem;
    display: block;
    text-align: left;
}
.suggestion .groups:hover{
    transition: 0.1s;
    border-radius: 3px;
    background-color: #101010;
    box-shadow: 0 0 4px #1fe5ff;
}

@media (max-width:1000px){
  .suggestion {
      left: -30%;
      width: 160%;
  }
}
@media (max-width:550px){
  .suggestion {
      left: -40%;
      width: 180%;
  }
}
