.log-in-btn{
    padding: 0;
    margin: 3rem 30% 4rem;
}
.btn-space{
    text-align: center;
}
.google-button-a-tag {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none !important;
    transition: 0.1s;
    display: inline-block;
    border: 0;
    border-radius: 30px;
    padding: 4px 18px;
    text-align: center;
    outline: none;
    background-color: #505050;
    color: white;
    width: 100%;
    letter-spacing: 0.5px;
    color: white;
    width: 100%;
}

.google-button-a-tag:hover{
    transition: 0.4s;
    background-color: #101010;
    color: #1fe5ff;
    text-shadow: 0 0 8px #404040;
    border-radius: 5px;
    letter-spacing: 1px;
}
/* ******** Ye Google text color optional h ********* */
.g{color: #4285F4;} .e{color: #DB4437;} .o{color: #F4B400;} .l{color: #0F9D58;}

.button-label{
  position: relative;
  top: 0.15rem;
  margin-top: 5%;
}
.google-button-a-tag .svgIcon {
 vertical-align: middle;
 padding-right: 4px;
 height: 37px;
 display: inline-block;
 text-shadow: 0 0 5px black;
}
@media (max-width: 1000px){
  .log-in-btn{
      margin: 3rem 25% 5rem;
  }
}
@media (max-width: 772px){
  .log-in-btn{
      margin: 3rem 20% 4rem;
  }
}
@media (max-width: 550px){
  .log-in-btn{
      margin: 2.5rem 10% 3rem;
  }
  .google-button-a-tag {
      padding: 3px 15px;
      letter-spacing: 0.3px;
      font-size: 0.8rem;
  }
}
