.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #7003ff;
  border-radius: 4px 4px 0 0;
  height: 60px;
  width: 100%;
}
.leftInnerContainer {
  flex: 0.9;
  display: flex;
  font-family: 'Play', sans-serif;
  font-size: 1.5rem;
  align-items: center;
  padding-top: 0.35rem;
  margin-left: 2rem;
  color: white;
}
.leftInnerContainer p{
  margin-bottom: 0.5rem;
}
.chat-memNo{
  margin: auto 0.5rem 0.75rem 2.5rem;
  cursor: pointer;
}
.rightInnerContainer {
  display: flex;
  flex: 0.1;
  justify-content: flex-end;
  margin-right: 2rem;
}
.onlineIcon {
  height: 0.6rem;
  width: 0.6rem;
  margin: 0 1rem 0.2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #00ff00;
  background-color: #00ff00;
}
.typing-status {
  margin: auto 0.5rem 0.75rem 2.5rem;
  font-size: 1.2rem;
  font-family: 'Exo', sans-serif;
}

@media (max-width: 676px){
  .leftInnerContainer {
    font-size: 1.2rem;
  }
  .typing-status {
    margin: auto 0.5rem 0.6rem 2rem;
    font-size: 0.9rem;
  }
}
@media (max-width: 450px){
  .typing-status {
    margin: auto 0.3rem 0.3rem 1.2rem;
    font-size: 0.7rem;
  }
}
