.messages {
  padding: 1px 0;
  overflow: auto;
  flex: auto;
  background-image: url('https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: contain;
}

/*.button-class {
  background-image: url('');
}*/
