.main-div {
  overflow: hidden;
}
.frontPage-div{
  padding-top: 1rem 1.2rem;
  background-image: linear-gradient(#1fe5ff, #f7f7f7, #f7f7f7, #f7f7f7, #f7f7f7, #f7f7f7, #f7f7f7, #f7f7f7, #f7f7f7);
}
.interest-div{
  margin: 2% 4%;
  padding: 1rem auto;
  text-align: center;
  min-width: 17.5rem;
}
/*
@media (max-width: 1466px & min-width: )
*/
