.main-div {
  overflow: hidden;
}
.frontPage-div{
  padding-top: 1rem 1.2rem;
}
.interest-div{
  margin: 2% 7%;
  padding: 1rem;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  box-shadow: 0 0 7px #e5e5e5;
}
