.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://images.pexels.com/photos/633409/pexels-photo-633409.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-position: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 5px 5px 10px #000, -5px -5px 10px #000, 0 0 20px #7003ff;
  height: 90vh;
  width: 60vw;
  padding: 0;
}
.modal-content{
  background-color: rgba(0, 0, 0, 0);
}
.list-box-header{
  background-color: #303030;
  color: white;
  padding: 0.3rem 1rem;
  border: 1px solid #303030;
}
.list-box-header .close{
  padding: 0.1rem 0.5rem;
  margin-top: -3px;
  color: white;
}
.list-box-body{
  padding: 0.3rem 0;
  background-color: #9578cf;
  border: 1px solid #9578cf;
}
.mute-opt{
  text-align: right;
}
.member-box{
  margin: 0.1rem 0.5rem 0.2rem;
  border-radius: 3px;
  background-color: #303030;
  color: white;
}
@media (max-width: 1000px){
  .container {
    width: 70vw;
  }
}
@media (max-width: 676px) {
  .container {
    width: 85vw;
    height: 95vh;
  }
}
