.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://images.pexels.com/photos/633409/pexels-photo-633409.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-position: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 5px 5px 10px #000, -5px -5px 10px #000, 0 0 20px #7003ff;
  height: 90vh;
  width: 60vw;
  padding: 0;
}
.modal-content{
  background-color: rgba(0, 0, 0, 0);
}
.list-box-header{
  background-color: #303030;
  color: white;
  padding: 0.3rem 1rem;
  border: 1px solid #303030;
}
.list-box-header .close{
  padding: 0.1rem 0.5rem;
  margin-top: -3px;
  color: white;
}
.list-box-body{
  background-color: #9578cf;
  padding: 0.3rem 0;
  border: 1px solid #9578cf;
}
.report-box .modal-content{
  border: 0;
  margin: 0 5rem;
}
.report-box-body{
  transition: 0.1s;
  background-color: #cc3030;
  padding: 0.2rem 1rem;
  border-radius: 1.2rem;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 1.5px;
  font-size: 1.2rem;
  box-shadow: 0 0 2px #303030;
  color: white;
  text-align: center;
}
.report-box-body:hover{
  transition: 0.3s;
  cursor: pointer;
  background-color: #ee3030;
  letter-spacing: 1.8px;
  box-shadow: 0 0 5px #aa0000;
}
.pop-div{
  text-align: center;
  background-image: linear-gradient(to right, #7003ff, #ee6060, #ff4040, #ee6060,#7003ff);
  font-family: 'Nunito', sans-serif;
  letter-spacing: 1px;
  color: white;
}
.mute-opt{
  text-align: right;
}
.member-box{
  margin: 0.1rem 0.5rem 0.2rem;
  border-radius: 3px;
  background-color: #303030;
  color: white;
}
@media (max-width: 1000px){
  .container {
    width: 70vw;
  }
}
@media (max-width: 676px) {
  .container {
    width: 85vw;
    height: 95vh;
  }
}

@media (max-width: 450px) {
  .container {
    width: 100vw;
    height: 100vh;
  }
}
