.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1A1A1D;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 8px;
  height: 90vh;
  width: 60vw;
  padding: 0;
}
@media (max-width: 1000px){
  .container {
    width: 70vw;
  }
}
@media (max-width: 676px) {
  .outerContainer {
    height: 100%;
  }
  .container {
    width: 85vw;
    height: 95vh;
  }
}
