.home-page{
    background-color: black;
    color: white;
}
.searchBar {
    display: flex;
    background-image: linear-gradient(#1fe5ff, #116d7a, #072e33, #050505);
    padding: 0.8rem 12% 2rem;
    width: inherit;
    text-align: left;
    margin: 0;
}
.searchBar .input-group .form-control{
    border-radius: 0 20px 20px 0;
}
.input-group-text{
    border-radius: 20px 0 0 20px;
    border: 1px solid #1fe5ff;
    background-color: #101010;
    color: white;
    width: 4rem;
    padding-left: 1.5rem;
}
.suggestion {
    overflow: auto;
    background-color: #f0f0f0;
    color: white;
    width: inherit;
    border-radius: 20px;
    box-shadow: 0 0 4px #a0a0a0;
    position: absolute;
    top: 2.4rem;
    z-index: 1;
    max-height: 60vh;
}
.suggestion .groups{
    transition: 0.2s;
    border-radius: 12px;
    background-color: #202020;
    margin: 1.5rem;
    padding: 0.5rem 2rem;
    display: block;
    text-align: left;
}
.suggestion .groups:hover{
    transition: 0.1s;
    border-radius: 3px;
    background-color: #101010;
    box-shadow: 0 0 4px #1fe5ff;
}
.lang-icon {
  width: 23px;
  height: 23px;
}
.row{
  margin: 0;
}
.interestHeading{
  background-image: linear-gradient(#1fe5ff, #116d7a, #072e33, #050505);
  border-right: 0.1px solid #116d7a;
  text-align: center;
  padding: 1rem 0;
  font-size: 2rem;
}
.interest-list{
  box-shadow: 2px 3px 2px #202020;
  padding: 0.1rem 1px;
  min-height: 78vh;
  font-size: 1.2rem;
}
.trial-interestDiv{
  background-image: url(https://images.pexels.com/photos/2346120/pexels-photo-2346120.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  transition: 0.2s;
  margin-bottom: 0.2rem;
}
.interest-overlayer{
  transition: 0.3s;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.98), rgba(0, 0, 0, 1));
  text-shadow: 0 0 4px black;
  padding: 0.2rem;
}
.linkI-div, .linkI-div:hover, .linkI-div:focus, .linkI-div:active{
  transition: 0.8s;
  text-decoration: none;
  color: inherit;
  padding: 0.7rem 1.2rem;
}
.linkI-div:hover{
  transition: 0.2s;
  letter-spacing: 1px;
}
.add-int{
  transition: 0.8s;
  float: right;
  font-size: 1.5rem;
  color: white;
  border: 0;
  border-radius: 1.5rem;
  margin: 0.4rem 0;
  padding: 0.1 0.45rem;
  background-color: black;
}
.add-int:hover{
  transition: 0.2s;
  background-color: #202020;
}
@media (max-width: 1360px){
  .suggestion {
      width: 140%;
      left: -20%;
  }
}
@media (max-width: 900px){
  .searchBar {
      padding: 0.8rem 20% 2rem;
  }
  .suggestion {
      width: 150%;
      left: -25%;
      max-height: 70vh;
  }
  .suggestion .groups{
      margin: 1rem;
      padding: 0.5rem 1.5rem;
  }
  .suggestion .genre-status{
      width: 25%;
  }
  .suggestion .members-no{
      width: 33.33%;
  }
  .suggestion .time-div{
      width: 41.66%;
  }
}
@media (max-width: 686px){
  .lang-span{
    display: none;
  }
  .searchBar {
      padding: 0.7rem 20% 1.8rem;
  }
}
