.home-page{
    background-image: linear-gradient( #f5f5f5, #f5f5f5, #f5f5f5, #fff, #fff);
}
.searchBar {
    display: flex;
    background-image: linear-gradient(#1fe5ff, #9cf3ff, #f5f5f5);
    padding: 0.8rem 12% 2rem;
    width: inherit;
    text-align: left;
    margin: 0;
}
.searchBar .input-group .form-control{
    border-radius: 0 20px 20px 0;
}
.input-group-text{
    border-radius: 20px 0 0 20px;
    border: 1px solid #1fe5ff;
    background-color: #101010;
    color: white;
    width: 4rem;
    padding-left: 1.5rem;
}
.suggestion {
    overflow: auto;
    background-color: #f0f0f0;
    color: white;
    width: inherit;
    border-radius: 20px;
    box-shadow: 0 0 4px #a0a0a0;
    position: absolute;
    top: 2.4rem;
    z-index: 1;
    max-height: 60vh;
}
.suggestion .groups{
    transition: 0.2s;
    border-radius: 12px;
    background-color: #202020;
    margin: 1.5rem;
    padding: 0.5rem 2rem;
    display: block;
    text-align: left;
}
.suggestion .groups:hover{
    transition: 0.1s;
    border-radius: 3px;
    background-color: #101010;
    box-shadow: 0 0 4px #1fe5ff;
}
.lang-icon {
  width: 23px;
  height: 23px;
}
.row{
  margin: 0;
}
.interestHeading{
  background-image: linear-gradient(#1fe5ff, #9cf3ff, #f5f5f5);
  border-right: 0.1px solid #9cf3ff;
  text-align: center;
  padding: 1rem 0;
  font-size: 2rem;
}
.interest-list{
  box-shadow: 2px 3px 2px #f0f0f0;
  padding: 0.1rem 1px;
  min-height: 78vh;
  font-size: 1.2rem;
}
.trial-interestDiv{
  background-image: linear-gradient(to right, rgba(240, 0, 0, 0.6), rgba(250, 0, 0, 0.4), rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.01));
  transition: 0.2s;
  padding: 0.8rem 2.2rem;
}
.trial-interestDiv:hover{
  background-color: #e0e0e0;
}
.add-int{
  float: right;
  border: 2px;
  border-radius: 1.5rem;
  padding: 0rem 0.6rem 0.2rem;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 4px #ee6666;
}

@media (max-width: 1360px){
  .suggestion {
      width: 140%;
      left: -20%;
  }
}
@media (max-width: 900px){
  .searchBar {
      padding: 0.8rem 20% 2rem;
  }
  .suggestion {
      width: 150%;
      left: -25%;
      max-height: 70vh;
  }
  .suggestion .groups{
      margin: 1rem;
      padding: 0.5rem 1.5rem;
  }
  .suggestion .genre-status{
      width: 25%;
  }
  .suggestion .members-no{
      width: 33.33%;
  }
  .suggestion .time-div{
      width: 41.66%;
  }
}
@media (max-width: 686px){
  .lang-span{
    display: none;
  }
  .searchBar {
      padding: 0.7rem 20% 1.8rem;
  }
}
