.profilePage{
  background-image: linear-gradient(#e0e0e0, white);
}
.overlap-div, .profileDetails{
  padding: 3rem 15% 1rem;
}
.image-col-div{
    padding: 2%;
    display: inline-block;
}
.profileImage{
    width: 8rem;
    border-radius: 50%;
    box-shadow: 0 0 10px #96b5ff;
}
.profileName{
  padding: 4rem 1rem;
  display: inline-block;
  font-family: 'Caveat Brush', cursive;
}
.form-group{
  margin: 0 0 1rem;
}
.form-label{
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  border-radius: 20px 5px 5px 20px;
  padding: 0.375rem 1.2rem;
  box-shadow: 0 0 5px #d0d0d0;
}
.form-control-plaintext, .form-control{
  font-family: 'Nunito', sans-serif;
  font-size: 1.1rem;
  border-radius: 5px 20px 20px 5px;
  padding: 0.375rem 1.5rem;
  box-shadow: 0 0 5px #b3caff;
}
.profile-submit{
  text-align: center;
  margin-top: 1rem;
}
.submitBtn{
  transition: 0.2s;
  border: 0;
  border-radius: 20px;
  background-color: #202020;
  color: white;
  font-family: 'Prompt', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1px;
  padding: 0.4rem 2rem;
  box-shadow: 0 0 10px #a0a0a0;
}
.submitBtn:hover{
  transition: 0.2s;
  background-color: #101010;
  box-shadow: 0 0 15px #7aa2ff;
}
.popup-div{
  text-align: center;
  min-height: 1.8rem;
}
@media (max-width:1200px){
  .profileImage{
      width: 7rem;
  }
  .profileName{
    padding: 3rem 1rem;
  }
}
@media (max-width: 900px){
  .overlap-div, .profileDetails{
    padding: 3rem 10% 1rem;
  }
}
@media (max-width: 768px){
  .image-col-div{
      width: 25%;
  }
  .profileName{
    width: 75%;
    padding-left: 3rem;
  }
}
@media (max-width: 576px){
  .form-label{
    font-size: 1.1rem;
    letter-spacing: 0.2px;
    width: 40%;
    margin-bottom: 0.5rem;
    border-radius: 20px 20px 5px 20px;
  }
  .form-control-plaintext, .form-control{
    font-size: 1rem;
    width: 90%;
    margin-left: 3rem;
    border-radius: 5px 20px 20px 20px;
  }
}
